body {
  background-color: #002400;
  color: #58641D;
}

.name {
  color: #DBD2E0;
  font-weight: bold;
  font-family: sans-serif;
  text-align:  center;
  font-size: 30px;
}

#names  {
  list-style: none;
}

img {
  padding: 10px;
  border: 15px solid #58641D;
  margin: 20px;
}

ul {
  float: left;
  margin: 20px;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #7B904B;
}

h2 {
  margin-left: 15%;
  color: #7B904B;
}

@media screen and (min-width: 800px) {
  .column1 {
    width: 45%;
    float: left;

  }


  .column2 {
    width: 45%;
    float: right;
  }

  .box {
    margin: 15px;
    padding:15px;
  }
}
